<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="{{ site.baseurl }}">
                        {{ site.title }}
                    </a>
                </li>
				<li>
                    <a href="{{ site.baseurl }}/docs/">
                       Documentation
                    </a>
                </li>
                <li>
                    <a href="{{ site.repourl }}/LICENSE">
                        License
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; 2017, made with <i class="fa fa-coffee coffee"></i> by Richard Trujillo
        </div>
    </div>
</footer>